.footer__logo {
  background-image: url(../images/footer/logo.png);
  background-size: 38px 38px;
  background-position: center;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  display: none;
  position: absolute;
  bottom: -8px;
  right: 16px;

  @include tablet-width {
    display: block;
  }
}