.basic-text{
  @include font(18px, 28px, $textLightTheme, 400);

  @include nb-width {
    font-size: 16px;
    line-height: 26px;
  }

  @include tablet-width {
    font-size: 14px;
    line-height: 22px;
  }

  @include mobile-width {
    font-size: 12px;
    line-height: 18px;
  }
}

.basic-text.theme-change_dark{
  @include font(18px, 28px, $textDarkTheme, 400);
  
  @include nb-width {
    font-size: 16px;
    line-height: 26px;
  }

  @include tablet-width {
    font-size: 14px;
    line-height: 22px;
  }

  @include mobile-width {
    font-size: 12px;
    line-height: 18px;
  }
}