.bikes__select-cont_active{

  @include tablet-width {
    height: 100px;
    background-color: rgb(226, 226, 226);
  }
}

.bikes__select-cont_active.theme-change_dark {
  background-color: rgb(51, 49, 49);
}