.slider__container{
  display: grid;
  gap: 50px;
  max-width: 1320px;
  margin: 0 0 0 auto;
  padding: 0 0 0 70px;

  @include nb-width {
    padding-left: 50px;
  }

  @include tablet-width {
    grid-template-columns: 1fr min-content;
    gap: 40px;
    padding: 0 18px;
  }

  @include mobile-width {
    padding-top: 40px;
  }
}