.bikes__selector{
  position: relative;
  margin-right: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 0;
  transition: opacity 0.2s ease-in-out;

  &:last-child{
    margin-right: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  @include tablet-width {
    &:hover {
      opacity: 0.85;
    }
  }

  @include tablet-width {
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    margin: 5px 0 0 11px;
    z-index: 8;

    &:nth-child(0){
      margin-top: 0;
    }
  }
}