.header__menu_burger-active{
  visibility: visible;
  opacity: 1;
  background-color: $backgroundLightTheme;
  height: 100vh;
  padding-top: 144px;
}

.header__menu_burger-active.theme-change_dark{
  background-color: $backgroundDarkTheme;
}