.bikes__text-cont{
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
  margin: 0;
  padding: 0 50px;

  @include tablet-width {
    flex-flow: column nowrap;
    padding: 0 18px 0;
  }
}