@mixin font ($fontSize, $lineHeigt, $color, $fontWeight) {
  font-size: $fontSize;
  line-height: $lineHeigt;
  color: $color;
  font-weight: $fontWeight;
  font-family: 'Inter', Arial, sans-serif;
}

@mixin mobile-border {
  padding-top: 20px;
  border-top: 1px solid #E3E3E3;
}

@mixin reset-list {
  list-style: none;

    a {
      text-decoration: none;
    }
}

@mixin nb-width {
  @media (max-width: 1245px){
      @content;
  }
}

@mixin tablet-width {
  @media (max-width: 768px){
      @content;
  }
}

@mixin mobile-width {
  @media (max-width: 440px){
      @content;
  }
}