$backgroundLightTheme: rgb(244, 244, 244);
$textLightThemeBold: rgb(21, 21, 21);
$textLightTheme: rgba(0, 0, 0, 0.7);

$backgroundDarkTheme: rgb(51, 51, 51);
$textDarkThemeBold: rgb(255, 255, 255);
$textDarkTheme: rgba(229, 229, 229, 0.7);

$buttonColor: rgb(36, 180, 126);
$buttonColorFilled: rgb(49, 158, 117);